:root{
    --white: #F6F6F7;
    --black: #000000;
    --gray: #e0e0e0;
    --blue: #0000ff;
    --dark-gray: #575757;
    --green: #1d940d;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
text-align: center;
padding: 15px;
font-weight: 600;
background: var(--white);
box-shadow: 0px 4px 40px -20px var(--black);
}

main {
margin: 0 70px;
}

/* BOTOES  */

.filtersContainer {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 0;
}

#botoesContainer {
display: flex;
}

.estiloGeralBotoes {
border: 1.5px solid var(--green);
background: var(--gray);
border-radius: 8px;
padding: 10px 20px;
cursor: pointer;
font-weight: 500;
color: var(--green);
font-size: 0.9rem;
margin-right: 10px;
}

.estiloGeralBotoes--filter:hover {
background-color: var(--green);
color: var(--white);
transition: ease-in-out 0.2s;
}

.botoesClickStyle {
background-color: var(--green);
color: var(--white);
}

.containerBuscaPorNome {
display: flex;
justify-content: space-between;
}

.campoBuscaPorNome {
border: none;
padding: 0 10px;
background: var(--white);
border-radius: 8px;
margin-right: 5px;
width: 250px;
color: var(--black);
font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;
background: var(--green);
border: 1.5px solid var(--green);
border-radius: 8px;
}

/*CONTAINER VITRINE*/

.containerVitrine {
display: flex;
width: 100%;
justify-content: space-evenly;
border-radius: 50px 0;
}

/* LISTA PRODUTO */

.containerListaProdutos {
width: 100%;
}

.ListaPrincipal {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 40px;
width: 90%;
}

.listaProdutos{
border-radius: 8px;
transition: ease-in-out 0.1s;
width: calc(95% / 4);
margin-bottom: 1.6rem;
padding: 0.8rem;
}

.listaProdutos:hover {
box-shadow: 3px 3px 13px 1px var(--black);
}

.listaProdutos img {
width: 80%;
}

.listaProdutos h3 {
font-size: 1.3rem;
font-weight: 500;
margin: 10px 0 15px;
color: var(--black);
}

.listaProdutos p {
font-size: 1.1rem;
color: var(--dark-gray);
font-weight: 400;
margin: 15px 0;
}
.listaProdutos span {
font-size: 1rem;
font-weight: 500;
margin-top: 10px;
display: inline-block;
color: var(--black);
}
.listaProdutos ol {
list-style: decimal;
color: var(--dark-gray);
font-size: 0.9rem;
margin-left: 15px;
}
.listaProdutos ol li {
margin: 0;
width: 100%;
}
.listaProdutos button {
background-color: var(--gray);
border-radius: 8px;
border: var(--green) 1px solid;
color: var(--green);
transition: 0.5s;
}
.listaProdutos button:hover {
background-color: var(--green);
border: var(--green) 1px solid;
color: var(--white);
}
.listaProdutos div {
display: flex;
justify-content: space-between;
padding: 0.3rem;
}


/*ADICIONAR CARINHO*/

 .adicionar{
    padding: 0.3rem;
    font-size: 0.9rem;
} 

 .carrinho ul{
    background-color: var(--gray);
    height: 400px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .carrinho ul li{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-color: var(--white);
    border: solid var(--green) 1px;
    width: 90%;
    height: 30%;
    color: var(--blue);
 } 
 
 .carrinho ul li img{
     max-width: 80px;
 }
 
 .carrinho ul li span{
    width: 0;
    height: 0;
    font-size: 0;
 }

 .carrinho ul li h3{
    margin: 20px;
    font-size: 1.2rem;
 }

 .carrinho ul li p{
    font-size:1rem;
    margin: 12px;
    display: flex;
    justify-content: center;
 }
 
 .carrinho ul li button{
     background-color: var(--blue);
     position: absolute;
     width: 30px;
     height: 30px;
     border-radius: 20px;
     color: transparent;
     margin-left:370px;
     margin-bottom: 72px;
     font-size: 0;
 }
 
 .carrinho ul li button::before{
     content: "X";
     font-size: 1rem;
     display: block;
     color:var(--white);
 }
 
 .informacoes_carrinho{
     background-color: var(--gray);
     padding: 0.8rem;
     min-height: 220px;
     width: 500px;
 }
 
 .informacoes_carrinho p{
     margin-bottom: 0.5rem;
     font-size: 1.3rem;
     color:var(--black);
 } 
 
 .informacoes_carrinho button{
     background-color: var(--blue);
     color: var(--white);
     padding: 1rem;
     float: right;
     border-radius: 5px;
     font-size: 1rem;
     margin-top: 2.5rem;
 } 

    @media (max-width: 768px) {
    /*VITRINE*/
    .containerVitrine {
        display: flex;
        width: 100%;
        justify-content:space-between;
        }
        
        /* LISTA PRODUTO */
        
        .containerListaProdutos {
        width: 90%;
        }
        
        .ListaPrincipal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        }
        
        .listaProdutos{
        width: 80%;
        }
    
        .listaProdutos img {
        width: 80%;
        }
    
        .listaProdutos ol li {
        width: 100%;
        }
    
        .listaProdutos div {
        display: flex;
        justify-content: space-between;
        margin:0 auto
        }
    }

    @media (max-width: 1500px){
    /*CARINHO*/
        .carrinho ul{
            margin: 0 auto;
        }

        .informacoes_carrinho{
            margin: 0 auto;
        }
    }
    